# Logs 
logs 
*.logs
# Node Modules
frontend/node_modules/
backend/node_modules/

# Environment variables
frontend/.env
backend/.env

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor settings
.vscode/